/* this css file will only style the homepage of our site */
body{
  background-color: lightblue;
}

#content{
  background-color: #e298c8;
  outline-style: dotted;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:center;
}

h1:hover{
  color: #f312a4;
}

h1:active{
  color: lightblue;
  font-family: cursive;
}

.labs{
  border: solid 2px black;
  padding: 5px;
  margin-bottom: 10px;
}

.lab-link:hover{
  color: #f312a4
}

h2{
  font-family: cursive;
}

.minor-section{
  background-color:#e298c8;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


#photo-of-me{
  width: 30%;
}

#ocean-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  padding-top: 40px;
  padding-bottom: 40px;
}
