/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

#content {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #faf5ed;
}

.Phoebe_Rettberg {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  background-color: #539166;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#000000;
}

.Harry_Chou {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #770000;
  background-color: #ff7c64;
  font-family: cursive;
}

h1 {
  padding: 10px;
  margin-bottom: 10px;
  font-family: cursive;
  letter-spacing: 0.5px;
  font-size: xxx-large;
}

body{
  background-color: #f08686;
}

